.headerimage {
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.mask {
    background-color: rgba(0, 0, 0, 0.7);
}